body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    margin: 20px;
}
.container {
    width: 50%;
}
h1 {
    text-align: center;
    color: #333;
}
.form-group {
    width: 100%;
    margin: 10px 0;
}
label {
    font-weight: bold;
    color: #555;
    display: block;
    margin-bottom: 5px;
}
input[type="text"], input[type="url"], input[type="datetime-local"] {
    width: 100%;
    padding: 1%;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}

.preview {
    width: 10%;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    position: fixed;
    right: 1.5%;
    bottom: 3%;
}

.preview p {
    font-size: 16px;
    line-height: 1.4;
    color: #333;
}
.fixed-link-button {
    display: block;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin: 10px 0px;
}
.fixed-link-button:hover {
    background-color: #0056b3;
}

.seatContainer {
    display: flex;
    gap: 20px; /* 요소 간 간격 조정 */
    align-items: center; /* 수직 정렬 */
}
.seatField {
    display: flex;
    align-items: center;
    gap: 5px; /* 라벨과 입력 필드 간격 */
}
input[type="number"] {
    width: 2.5em; /* 숫자 2개가 들어갈 정도의 크기 */
    text-align: center; /* 숫자 중앙 정렬 */
}
.loginInfoDate{
    width:190px
}
.loginInfoInput{
    width:50%
}
.SeatInfoGroupListForBMBIStringInput{
    width:4.5em;
}
.RowColGroupList{
    display: flex;
}
.BMBIRange{
    display: flex;
}